﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    We are a software development company that provides cutting edge engineering solutions,
    helping Fortune 1500 companies and enterprise clients that always emerge during their
    digital evolution journey. Since 2011 we have been a software engineering partner for
    world-class brands.
</p>
