﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>To see the Multiplication Table, click <a href="@Url.Action("Index", "Table")">here</a>.</h3>
</div>
